{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 80,
  "plugins": ["prettier-plugin-glsl"],
  "overrides": [{ "files": ["*.frag"], "options": { "parser": "glsl-parser" } }]
}
